.container {
	background: #3789ca;
}

.header {
	display: flex;
	margin: 0 auto;
	z-index: 10;
	justify-content: space-between;
	width: 1300px;
	height: 77px;
	background: #3789ca;
	position: sticky;
	&__title {
		display: flex;
		justify-content: space-between;
		width: 151px;
		align-items: center;
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 377px;
		margin-right: 32px;
		button {
			background-color: #3789ca;
		}
		a {
			font-size: 18px;
			line-height: 23px;
			color: #ffffff;
		}
	}
}
