.modal {
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);

	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	pointer-events: none;
}

.modalactive {
	z-index: 20;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	z-index: 15;
	position: fixed;
	top: 0;
	left: 0vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	pointer-events: all;
}

.addphone {
	z-index: 16;
	width: 425px;
	height: 297px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
		background: #3fa56e;
		width: 425px;
		height: 56px;
		display: flex;
		div {
			width: 397px;
			display: flex;
			justify-content: center;
			font-size: 18px;
			line-height: 23px;
			padding-top: 27px;
			color: #ffffff;
		}
		button {
			background: #3fa56e;
			padding-bottom: 10px;
		}
	}
	&__list {
		margin-top: 31px;
		&_item {
			width: 384px;
			height: 30px;
			background: #dedede;
			border-radius: 7px;
			margin-bottom: 10px;
			padding-left: 15px;
			display: flex;
			align-items: center;
			div {
				margin-left: 23px;
			}
		}
	}
}
